.global-nav, .dashboard, .header-inner {
  display:none;  
}

.wrapper {
  padding-top: 10px;
}

#timeline, .profile-card {
  width: 100% !important;
}

.home-tweet-box {
  margin-bottom: 20px;
}

.rich-editor {
  width: 794px !important;
}
